
        /* make the carousel the whole viewport */
        html, body, #carousel, #carousel ul, #carousel li, .carousel_container {
            min-height: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: relative;
        }
        #carousel {
            width: 100%;
            height: 100%;
        }

        /* hide the webbox toolbar */
        .toolbar {
            display: none;
        }


