/* base file for cdm */

@import url('/components/toolbar/spinner.less');
@import url('cdm-login.less');
/* tried these, didn't like them. */
/* @import url('http://fonts.googleapis.com/css?family=Roboto+Condensed'); */
/* @import url('http://fonts.googleapis.com/css?family=Istok+Web'); */
/* @import url('http://fonts.googleapis.com/css?family=Maven+Pro'); */
/* @import url('http://fonts.googleapis.com/css?family=Scada'); */
/* @import url('http://fonts.googleapis.com/css?family=Asul'); */
/* @import url('http://fonts.googleapis.com/css?family=Playfair+Display'); */
/* @import url('http://fonts.googleapis.com/css?family=Merriweather'); */
/* @import url('http://fonts.googleapis.com/css?family=Lora'); */

@font-face {
	font-family:"PoiretOne";
	src:url('../fonts/PoiretOne-Regular.ttf');
}
@font-face {
	font-family:"Julius";
	src:url('../fonts/JuliusSansOne-Regular.ttf');
}
body {
	background-image:url('../imgs/old_wall.png');
	background-repeat:repeat;
}

h1,h2,h3,label,input,.btn {
	font-family:"Julius", sans-serif;
	font-weight:100;
}
input[type=text],input[type=password] {
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	opacity:0.4;
	&:focus {
		opacity:1.0;
	}
}

.people {
  background:white;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  border: 1px solid rgba(200,200,200,0.1);
  background:rgba(240,240,240,0.2);
  border-radius:6px;
  opacity:1.0;
  &.ui-animate {
	  transition: all 0s ease;
	  -o-transition: all 0s ease;
	  -moz-transition: all 0s ease;
	  -webkit-transition: all 0s ease;
	  opacity: 0 !important;
  }
  .add-user-btn {
	  font-family:"Julius";
	  position:absolute;
	  right:20px;
	  top:40px;
	  font-size:18pt;
	  padding:5px 10px 5px 10px;
	  border-top:none;
	  box-shadow: inset 0px 10px 10px #eee;
	  z-index:10;	  
  }
  .body {
	  margin: 80px 0px 0px 0px;
	  z-index:-1;
  }
  #new-user-accordion {
	  color:white;
	  background-image:url('../imgs/grey_wash_wall.png');
	  background-repeat:repeat;
	  width:100%;
	  box-shadow: inset 0px 10px 10px #333, inset 0px -10px 10px #333;
	  .inner {
		  padding:20px 50px 40px 20px;
	  }
  }  
}

.test {
  background:rgba(240,240,240,0.1);	
  margin: 10px 40px 0px 40px;
  padding: 8px;
  border-radius:6px;
  transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  border:1px solid #eee;  
  // max-height: 100px; /* 1000px works too */
  overflow: hidden;
  &.ui-animate {
	  transition: all 0s ease;
	  -o-transition: all 0s ease;
	  -moz-transition: all 0s ease;
	  -webkit-transition: all 0s ease;
	  // max-height:0px !important;
	  opacity: 0 !important;
	  // padding: 0 5px !important;
  }

}

