<div class="people" ui-animate>
  <!-- add new person button -->
  <div class="accordion-toggle btn add-user-btn" data-toggle="collapse" href="#new-user-accordion">+</div>
  <!-- new user accordions --> 
  <div id="new-user-accordion" class="accordion-body collapse">
	<div class="inner container-fluid">
	  <h4>register a new person</h4>
	  <div class="row">
		<div class="span5">
		  <form class="form-horizontal">
			<div class="control-group" ng-repeat="field in new_person_input_fields">
			  <label class="control-label {{ field.required }}" for="#new_person_{{ field.id }}" ng-bind-html-unsafe="field.label"></label>
			  <div class="controls">
				<input type="text" id="new_person_{{ field.id }}" class="username_field" focus placeholder="{{ field.placeholder }}" ng-model="new_person_model[field.id]">
			  </div>
			</div>
		  </form>
		</div><!-- span 6 -->
		<div class="span3">
		  <div class="control-group">
			<label class="control-label" for="#bday">Birth date</label>
			<div class="controls">
			  <input id="bday" type="date" name="bday" ng-model="new_person_model.birthday">
			</div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="#gender">Gender</label>
			<div id="gender" class="controls">
			  <label class="radio">
	 			<input type="radio" ng-model="new_person_model.gender" value="Female" class="radio_buttons required">Female</label>
			  <label class="radio">
				<input type="radio" ng-model="new_person_model.gender" value="Male" class="radio_buttons required">Male</label>
			</div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="#modules">Modules</label>
			<select ui-select2 ng-model="new_person_model.modules" multiple style="width:200px; min-height:80px">
			  <option ng-repeat="module in intervention_modules" value="{{ module.id }}">{{ module.name }}</option>
			</select>
		  </div>		  
		</div>
		<div class="span3 person_profile">
		  <!-- portrait form -->
		  <form class="portrait-form" enctype="multpart/form-data">
			<div class="fileupload fileupload-new" data-provides="fileupload">
			  <div class="fileupload-new thumbnail portrait">
				<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
			  </div>
			  <div class="portrait fileupload-exists">
				<div class="fileupload-preview thumbnail"></div>
				<a href="#" class="fileupload-exists fileupload-remove" data-dismiss="fileupload"><i class="icon-remove"></i></a>
			  </div>			
			  <div class="fileuploadbuttons">
				<span class="btn btn-file">
				  <span class="fileupload-new"><i class="icon-folder-open"></i></span>
				  <span class="fileupload-exists"><i class="icon-edit"></i></span>
				  <input type="file" />
				</span>			  
			  </div>
			</div>
		  </form>
		  <!-- portrait form --> 
		  <div class="text">
			<h4> {{ new_person_model.firstname || '&nbsp'; }} {{ new_person_model.middlename }} {{ new_person_model.lastname }} </h2>
			<p><label>age: </label>{{ compute_age(new_person_model.birthday) }} </p>
			<p><label>gender:</label> {{ new_person_model.gender }} </p>
		  </div>
		  <div class='buttons'>
			<a class="btn" data-toggle="collapse" href="#new-user-accordion">Cancel<a>
			<a class="btn btn-primary" data-toggle="collapse" href="#new-user-accordion" ng-click="create_cb()">Register<a>
		  </div>
		</div>
	  </div>
	</div>
  </div><!-- new user accordion -->
  <!-- existing users -->
  <p>
  <ul class="person_list">
	<li class="person_record" ng-repeat="person in people">
	  <a href="#/people/{{ person.id }}">	  
		<div class="photo-clipper">
		  <div class="photo" ui-if="person.get('portrait')[0]"
			   style="background-image: url('{{ person.get('portrait')[0].get_url() }}')">
		</div>
		<h4 class='name' ng-bind-html-unsafe="person.get('firstname')[0] | lowercase"></h4>
	  </a>
	</li>
  </ul>
</div>

