<div class="people" ui-animate>
  <!-- add new person button -->
  <div class="accordion-toggle btn add-user-btn" data-toggle="collapse" href="#new-user-accordion">+</div>
  <!-- new user accordions --> 
  <div id="new-user-accordion" class="accordion-body collapse">
	<div class="inner container-fluid">
	  <h4>register a new person</h4>
	  <div class="row">
		<div class="span6">
		  <form class="form-horizontal">
			<div class="control-group" ng-repeat="field in new_person_input_fields">
			  <label class="control-label" for="#new_person_{{ field.id }}" ng-bind-html-unsafe="field.label"></label>
			  <div class="controls">
				<input type="text" id="new_person_{{ field.id }}" class="username_field" focus placeholder="{{ field.placeholder }}" ng-model="new_person_model[field.id]">
			  </div>
			</div>
		  </form>
		</div><!-- span 6 -->
		<div class="span3">
		  <div class="control-group">
			<label class="control-label" for="#bday">Birth date</label>
			<div class="controls">
			  <input id="bday" type="date" name="bday" ng-model="new_person_model.birthday">
			</div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="#gender">Gender</label>
			<div id="gender" class="controls">
			  <label class="radio">
	 			<input type="radio" ng-model="new_person_model.gender" value="Female" class="radio_buttons required">Female</label>
			  <label class="radio">
				<input type="radio" ng-model="new_person_model.gender" value="Male" class="radio_buttons required">Male</label>
			</div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="#modules">Modules</label>
			<select ui-select2 ng-model="new_person_model.modules" multiple style="width:200px; min-height:80px">
			  <option ng-repeat="module in intervention_modules" value="{{ module.id }}">{{ module.name }}</option>
			</select>
		  </div>		  
		</div>
		<div class="span3 person_profile">
		  <img class="portrait" ng-src="{{ determine_portrait() }}">
		  <h2> {{ new_person_model.firstname }} {{ new_person_model.middlename }} {{ new_person_model.lastname }} </h2>
		  <p>  age: {{ compute_age(new_person_model.birthday) }} </p>
		  <p>  gender: {{ new_person_model.gender }} </p>
		  <a class="btn" data-toggle="collapse" href="#new-user-accordion">Cancel<a>
		  <a class="btn btn-primary" href="#new-user-accordion" onclick="create_cb()">Register<a>		  		  			  
		</div>
	  </div>
	</div>
  </div><!-- new user accordion -->
  <!-- existing users --> 
  <div class="person_list">
	<div class="person" ng-repeat="person in people">
	</div>
  </div>
</div>

