
<div class='person'>
  <div class='body'>
	<img class="portrait" ui-if="user.get('portrait')[0]" ng-src="{{ user.get('portrait')[0].get_url() }}"><br>
	<h4><a ng-click="go('../')">family</a></h4>
	<h1>{{ user.get('firstname')[0] }} {{ user.get('middlename')[0] }} {{ user.get('lastname')[0] }} 	<a class="edit"  data-toggle="collapse" href="#edit-user-accordion">edit <i class="icon-edit"></i></a> </h1>

  </div>	
  <div id="edit-user-accordion" class="accordion-body collapse">
	<div class="inner container-fluid">
	</div>
  </div>
  <div class='body'>	
	<h4> modules </h4>
	<ul>
	  <li ng-repeat="module in user.get('modules')"> <a href="{{ module.id }}/">{{ module.id }}</a> </li>
	</ul>
  </div>
</div>


